body
{
    padding-top: 50px;
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

.bg-1
{
    background: #2d2d30;
    color: #bdbdbd;
}


.input-group
{
	width: 80%;
	margin-left: 10%;
}

.first.input-group
{
	margin-top: 10px;
}

.last.input-group
{
	margin-bottom: 10px;
}

.row
{
	margin-left: 0px;
	margin-right: 0px;
}

