{% extends 'base.html' %}
{% block title %}SmartMenu - OrderManage{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.min.css">
<link rel="stylesheet" href="{% static 'reststaff_css/style.css' %}">
{% endblock %}

{% block bodyAttr %}id="myPage" data-spy="scroll" data-target=".navbar" data-offset="20"{% endblock %}
{% block content %}
{% include "reststaff/includes/navbar.html" %}
<div class="jumbotron firstdiv">
    {% include "includes/messages.html" %}
    <div id="mybuyList">
        <h3 class="text-center">訂單列表</h3>
        <br>
    </div>
</div>
{% csrf_token %}
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.min.js"></script>
<script>
    idFoodsJsonPath = "{{ idFoodsJsonPath }}";
</script>
<script src="{% static 'reststaff_js/chef.js' %}"></script>
{% endblock %}